#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt { flavor = "tap-preferred"; };

/ {
    combos {
        compatible = "zmk,combos";

        to-tenkey {
            bindings = <&tog 3>;
            key-positions = <38 39 40>;
        };
    };

    macros {
        pa: pa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp A &kp S &kp W &kp A &kp R &kp D>;
            label = "PA";
        };

        login: login {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp O &kp G &kp I &kp N &kp I &kp D>;
            label = "LOGIN";
        };

        mail: mail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp A &kp I &kp L &kp AT &kp M &kp A &kp I &kp L &kp DOT &kp J &kp P>;
            label = "MAIL";
        };

        jamp: jamp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(J))>;
            label = "JAMP";
        };

        Cell_catch: Cell_catch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(O))>;
            label = "CELL_CATCH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |                    |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |                    |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  MUTE  |  |        |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |                    | ENT | RSE  | ALT |

            bindings = <
&kp ESC                  &kp Q  &kp W  &kp E   &kp R        &kp T                                 &kp Y                      &kp U        &kp I          &kp O    &kp P                          &kp BACKSPACE
&mt LEFT_SHIFT LEFT_WIN  &kp A  &kp S  &kp D   &kp F        &kp G                                 &kp H                      &kp J        &kp K          &kp L    &mt LEFT_BRACKET SINGLE_QUOTE  &kp ENTER
&mt RCTRL TAB            &kp Z  &kp X  &kp C   &kp V        &kp B                &kp F10  &tog 3  &kp N                      &kp M        &kp COMMA      &kp DOT  &kp SLASH                      &kp MINUS
                                       &tog 3  &lt 2 SPACE  &mt LEFT_ALT DELETE                   &mt RIGHT_SHIFT BACKSPACE  &lt 1 ENTER  &mt RCTRL TAB
            >;

            sensor-bindings =
                <&inc_dec_kp LC(Z) LC(Y)>,
                <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |                    |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |                    | LFT | DWN |  UP | RGT |     |  F12 |
            // | SHFT | F1  | F2  | F3  | F4  | F5  |  boot  |  |        |  F6 | F7  | F8  | F9  | F10 |  F11 |
            //                    | GUI |     | SPC |                    | ENT |     | ALT |

            bindings = <
&trans  &kp N1    &kp N2     &kp N3        &kp N4     &kp N5                        &kp N6    &kp N7    &kp N8  &kp N9    &kp N0     &trans
&trans  &kp PLUS  &kp MINUS  &kp ASTERISK  &kp SLASH  &kp EQUAL                     &kp HOME  &kp LEFT  &kp UP  &kp DOWN  &kp RIGHT  &kp END
&trans  &kp F1    &kp F2     &kp F3        &kp F4     &kp F5     &kp K_MUTE  &none  &kp F6    &kp F7    &kp F8  &kp F9    &kp F10    &kp F11
                             &trans        &trans     &trans                        &trans    &trans    &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |                    |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |                    |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |        |  |  boot  |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |                    | ENT |     | ALT |

            bindings = <
&kp GRAVE      &kp EXCL       &kp AT           &kp HASH           &kp DLLR      &kp PRCNT                          &kp CARET        &kp AMPS              &kp LEFT_BRACE        &kp PLUS                  &kp EQUAL         &kp LS(INT_RO)
&kp LESS_THAN  &kp SEMICOLON  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp ASTERISK  &kp AMPERSAND                      &kp AMPERSAND    &kp LEFT_PARENTHESIS  &kp BACKSLASH         &kp PIPE                  &kp SINGLE_QUOTE  &kp GREATER_THAN
&bt BT_CLR     &bt BT_SEL 0   &bt BT_SEL 1     &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4   &none  &bootloader  &kp PRINTSCREEN  &kp PAUSE_BREAK       &kp C_AL_TEXT_EDITOR  &kp C_AL_GRAPHICS_EDITOR  &kp SLASH         &kp INT_YEN
                                               &trans             &trans        &trans                             &trans           &trans                &trans
            >;

            sensor-bindings =
                <&inc_dec_kp LA(LEFT_ARROW) LA(RIGHT_ARROW)>,
                <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        layer_3 {
            bindings = <
&trans  &kp HOME  &trans    &kp UP     &trans     &kp PG_UP                       &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SUBTRACT  &kp KP_DIVIDE    &trans
&trans  &trans    &kp LEFT  &kp SPACE  &kp RIGHT  &kp ENTER                       &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp KP_ASTERISK  &trans
&trans  &kp END   &trans    &kp DOWN   &trans     &kp PG_DN   &Cell_catch  &jamp  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER     &kp LS(MINUS)    &trans
                            &tog 3     &lt 4 TAB  &kp DELETE                      &kp BACKSPACE    &kp KP_NUMBER_0  &kp KP_DOT
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &kp F7  &kp F8  &kp F9  &kp F10     &kp F11     &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                  &kp F4  &kp F5  &kp F6  &kp LC(F4)  &kp LC(F5)  &kp LC(F6)
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F1  &kp F2  &kp F3  &kp LC(F1)  &kp LC(F2)  &kp LC(F3)
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
